:root {
    --primary-max-width: 12px; 
    --primary-spacing: 1rem;
    --primary-border-radius: 0.3rem;
    --primary-main-color: rgba(68, 143, 231, 1);
    --primary-background-color: white;
    --primary-text-color: rgba(68, 143, 231, 1);
    --secondary-text-color: #777;
    --white-color: white;
    --primary-shadow-color: rgba(0, 0, 0, 0.5);
    --primary-font-family: poppins;
}

@media (min-width: 768px) { 
    :root { 
        --primary-max-width: 1024px; 
        --primary-spacing: 2rem; 
    } 
}
